.page-body {
	background-image: url("/static/images/background-gray.jpg");
	height: 100vh;
}
.home-body {
	background-image: url("/static/images/homebackground.jpg");
	position: absolute;
	top: 5em;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.6;
	height: 500px;
}

.content-container {
	padding-top: 3rem;
	background-color: white;
	height: 100vh;
}

.negativeValue {
	color: red;
	font-weight: bold;
}

.send-mail {
	display: inline;
}

.bg-overlay {
	position: absolute;
	top: 5em;
	bottom: 0;
	left: 0;
	right: 0;
}

#home-container {
	position: relative;
	z-index: 1;
}
.section-top {
	padding-top: 5.5rem;
	padding-bottom: 16rem;
}

.section-about {
	padding-top: 2 rem;
	padding-bottom: 2rem;
}
.alert {
	z-index: 1;
}

#logo {
	height: 50px;
}

#logo-nav {
	height: 3em;
}

.navbar-brand {
	padding-top: 0;
}
