<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/styles.css">


</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img id='logo-nav' src="static\images\stock-tracker-logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="home">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" id="about-nav">
                <a class="nav-link" href="/#about">About</a>
            </li>
            {% if not current_user.username %}
            <li class="nav-item" id="login">
                <a class="nav-link" data-toggle="modal" data-target="#login-modal" href="#login-modal">Login</a>
            </li>
            <li class="nav-item" id="signup">
                <a class="nav-link" data-toggle="modal" data-target="#signup-modal" href="#signup-modal">Sign Up</a>
            </li>


            {% else %}
            <li class="nav-item" id="portfolio">
                <a class="nav-link" href="{{ url_for('portfolio') }}">My Portfolio</a>
            </li>
            <li class="nav-item" id="settings">
                <a class="nav-link" href="{{ url_for('user_settings') }}">User Settings</a>
            </li>
            <li class="nav-item" id="logout">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

{% if request.url_rule.endpoint == 'homepage' %}

{% block home %}
{% endblock %}

{% include 'auth/_login_modal.html' %}
{% include 'auth/_signup_modal.html' %}



<!-- </div> -->
{% else %}
<div class="container-fluid page-body bg-overlay">
    <div class="container content-container">

        {% block content %}
        {% endblock %}

    </div>

</div>

{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9f5a1a1c5b.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="/static/script.js"></script>
{% if request.url_rule.endpoint != 'homepage' %}
<script src="/static/portfolio.js"></script>
{% endif %}
</body>

</html>