<div class="modal fade" id="test-login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/login">
        <div class="modal-body">
          <div class='form-group-row'>
            {{ login_form.hidden_tag() }}

            <input id="login_username_test" name="login_username" type="hidden" value="test">
            <input id="login_password_test" name="login_password" type="hidden" value="password">
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Demo Login</button>
        </div>
      </form>
    </div>
  </div>
</div>