<tr>
    <th scope="row">Company Name</th>
    <td class="detailed-table-information" id="c-name"></td>
</tr>
<tr>
    <th scope="row">Company Symbol</th>
    <td class="detailed-table-information" id="c-symbol"></td>
</tr>
<tr>
    <th scope="row">Company Website</th>
    <td class="detailed-table-information"><a id="c-web" href=""></a></td>
</tr>
<tr>
    <th scope="row">Industry</th>
    <td class="detailed-table-information" id="industry"></td>
</tr>
<tr>
    <th scope="row">Market Capitalization</th>
    <td class="detailed-table-information" id="m-cap"></td>
</tr>
<tr>
    <th scope="row">Currency</th>
    <td class="detailed-table-information" id="currency"></td>
</tr>
<tr>
    <th scope="row">Country</th>
    <td class="detailed-table-information" id="country"></td>
</tr>
<tr>
    <th scope="row">Exchange</th>
    <td class="detailed-table-information" id="exchange"></td>
</tr>
<tr>
    <th scope="row">IPO Date</th>
    <td class="detailed-table-information" id="ipo"></td>
</tr>