<tr>
    <th scope="row">Current Quote</th>
    <td class="detailed-table-information" id="quote"></td>
</tr>
<tr>
    <th scope="row">52 Week High</th>
    <td class="detailed-table-information" id="yearly-high"></td>
</tr>
<tr>
    <th scope="row">52 Week High Date</th>
    <td class="detailed-table-information" id="yearly-high-date"></td>
</tr>
<tr>
    <th scope="row">52 Week Low</th>
    <td class="detailed-table-information" id="yearly-low"></td>
</tr>
<tr>
    <th scope="row">52 Week Low Date</th>
    <td class="detailed-table-information" id="yearly-low-date"></td>
</tr>
<tr>
    <th scope="row">Beta</th>
    <td class="detailed-table-information" id="beta"></td>
</tr>