<tr>
    <th scope="row">Company Name</th>
    <td id="c-name"></td>
</tr>
<tr>
    <th scope="row">Company Symbol</th>
    <td id="c-symbol"></td>
</tr>
<tr>
    <th scope="row">Company Website</th>
    <td><a id="c-web" href=""></a></td>
</tr>
<tr>
    <th scope="row">Industry</th>
    <td id="industry"></td>
</tr>
<tr>
    <th scope="row">Market Capitalization</th>
    <td id="m-cap"></td>
</tr>
<tr>
    <th scope="row">Currency</th>
    <td id="currency"></td>
</tr>
<tr>
    <th scope="row">Country</th>
    <td id="country"></td>
</tr>
<tr>
    <th scope="row">Exchange</th>
    <td id="exchange"></td>
</tr>
<tr>
    <th scope="row">IPO Date</th>
    <td id="ipo"></td>
</tr>