<tr>
    <th scope="row">Recommendations Date</th>
    <td class="detailed-table-information" id="r-date"></td>
</tr>
<tr>
    <th scope="row">Strong Buy Recommendations</th>
    <td class="detailed-table-information" id="s-buy"></td>
</tr>
<tr>
    <th scope="row">Buy Recommendations</th>
    <td class="detailed-table-information" id="buy"></td>
</tr>
<tr>
    <th scope="row">Hold Recommendations</th>
    <td class="detailed-table-information" id="hold"></td>
</tr>

<tr>
    <th scope="row">Sell Recommendations</th>
    <td class="detailed-table-information" id="sell"></td>
</tr>
<tr>
    <th scope="row">Strong Sell Recommendations</th>
    <td class="detailed-table-information" id="s-sell"></td>
</tr>
<tr>
    <th scope="row">Highest Target Price</th>
    <td class="detailed-table-information" id="h-target"></td>
</tr>
<tr>
    <th scope="row">Lowest Target Price</th>
    <td class="detailed-table-information" id="l-target"></td>
</tr>
<tr>
    <th scope="row">Target Mean</th>
    <td class="detailed-table-information" id="target-mean"></td>
</tr>
<tr>
    <th scope="row">Target Median</th>
    <td class="detailed-table-information" id="target-median"></td>
</tr>