<div class="modal fade" id="company-details" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"><strong>Company Details</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-striped" id="company-details-table">
                    <tbody>
                        <tr>
                            <th scope="row">Company Name</th>
                            <td id="c-name"></td>
                        </tr>
                        <tr>
                            <th scope="row">Company Symbol</th>
                            <td id="c-symbol"></td>
                        </tr>
                        <tr>
                            <th scope="row">Company Website</th>
                            <td><a id="c-web" href=""></a></td>
                        </tr>
                        <tr>
                            <th scope="row">Phone Number</th>
                            <td id="phone"></td>
                        </tr>
                        <tr>
                            <th scope="row">Logo</th>
                            <td id="logo"></td>
                        </tr>
                        <tr>
                            <th scope="row">Industry</th>
                            <td id="industry"></td>
                        </tr>
                        <tr>
                            <th scope="row">Market Capitalization</th>
                            <td id="m-cap"></td>
                        </tr>
                        <tr>
                            <th scope="row">Country</th>
                            <td id="country"></td>
                        </tr>
                        <tr>
                            <th scope="row">Currency</th>
                            <td id="currency"></td>
                        </tr>
                        <tr>
                            <th scope="row">Exchange</th>
                            <td id="exchange"></td>
                        </tr>
                        <tr>
                            <th scope="row">IPO Date</th>
                            <td id="ipo"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Go Back
                </button>
            </div>
        </div>
    </div>
</div>