{% extends 'base.html' %}

{% block title %}{{current_user.username}} Portfolio{% endblock %}

{% block content %}

<h1>{{current_user.username}} Portfolio</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#add-to-portfolio">
    Add Stock to Portfolio
</button>

<!-- Modal -->
{% include 'user/_add_stock_modal.html' %}

<!-- table -->
{% if stock_details[0][0] %}

<h5 class="mb-3">TOTAL PORTFOLIO VALUE: ${{"{:,.2f}".format(stock_details[2])}}</h5>
<table class="table table-striped table-responsive">
    <thead class="thead-dark">

        <tr>
            <th scope="col">Stock Symbol</th>
            <th scope="col">Start Tracking Date</th>
            <th scope="col">Stock Start Price</th>
            <th scope="col">Current Date</th>
            <th scope="col">Stock Current Price</th>
            <th scope="col">Change %</th>
            <th scope="col">Number of stocks</th>
            <th scope="col">Change $</th>
        </tr>

    </thead>
    <tbody>
        {% for stock in stock_details[0] %}
        <tr>
            <th scope="row">{{ stock.stock_symbol }}</th>
            <td>{{ stock.start_date.strftime("%m/%d/%y") }}</td>
            <td>${{ stock.start_stock_price }}</td>
            <td>{{ stock.current_date.strftime("%m/%d/%y") }}</td>
            <td>${{ stock.curr_stock_price }}</td>
            <td>{{ ((stock.curr_stock_price - stock.start_stock_price)/stock.start_stock_price)*100 }}%</td>
            {% if stock.stock_num %}
            <td>{{ stock.stock_num }}</td>
            <td>${{ (stock.curr_stock_price*stock.stock_num) - (stock.start_stock_price*stock.stock_num) }}</td>
            {% else %}
            <td>1</td>
            <td>${{ stock.curr_stock_price - stock.start_stock_price }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr class="bg-info text-white">
            <th scope="row">Total Portfolio</th>
            <td colspan='4'></td>
            <td colspan='2'><strong>{{ ((stock_details[2]-stock_details[1])/stock_details[2])*100 }}%</strong></td>
            <td><strong>${{ (stock_details[2]-stock_details[1]) }}</strong></td>
        </tr>
    </tbody>
</table>
{% else %}

<h3>No stocks have been added to your portfolio</h3>
{% endif %}

{% endblock %}